body, select{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

body{
    background-color: #77A1FC;
    font-weight: bold;
    font-size: 3em;
    color: #fff;
}

form, main{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

span{
    color: rgb(73, 73, 73);
}

.search{
    margin: 2em 0 0 0;    
    padding: 1em 2em;
    font-size: 0.4em;
    background-color: #8B6BFE;
    color: #fff;
    border: none;
    border-radius: .2em;
    cursor: pointer;
}

.randomSearch {
    background-color: transparent;
    color: white;
    border: none;
    margin: 1em 0 0 0;
    font-size: 0.5em;
    cursor: pointer;
}

.card{
    width: 50%;
    margin: auto auto;
    padding: 1em;
    background-color: #fff;
    border-radius: .5em;
    color: #000;
}

.card-title *{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-body{
    margin-top: 2em;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    font-size: 24px;
}

#main{
    margin: 1em auto;
    display: flex;
    justify-content: center;
    width: 260px;
    border-radius: .5em;
    border: none;
    a{
        padding: 1em;
        width: 100%;
        text-decoration: none;
        font-size: large;
        &:active{
            color: #000;
        }
        &:visited{
            color: #000;
        }
    }
}